

<body>
  <!--Book was successfilly create.-->
  <!--Book was successfilly updated.-->

  <p>
    <strong>Title:</strong>
    <%= @book.title %>
  </p>
  <p>
    <strong>Body:</strong><%= @book.body %>
  </p>
  <%= link_to "Edit", edit_book_path(@book.id) %>
   |
  <%= link_to "Back", "/books" %>
</body>